.header {
    display: flex;
    background-color: aliceblue;
    justify-content: space-around;
    height: 100px;
}

.header h1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    width: 40%;
    flex-direction: row;
}

.nav-bar ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-bar ul li button {
    border-style: none;
    background-color: transparent;
}